<form>
  <h2>New Vehicle</h2>
  <div class="form-group">
    <label for="make">Make</label>
    <select name="make" id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.make">
      <option value=""></option>
      <option *ngFor="let make of makes" value="{{ make.id }}">{{ make.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select name="model" id="model" class="form-control" [(ngModel)]="vehicle.model">
      <option value=""></option>
      <option *ngFor="let model of models" value="{{ model.id }}">{{ model.name }}</option>
    </select>
  </div>
</form>